.container{
    display: flex;
    /*flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

.cardContainer{
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}

.title{
    font-family: Avenir;
    font-size: xxx-large;
    color: #0D0D0D;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.text{
    font-family: Avenir;
    color: #4B5563;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15px;
}

.noGraphText{
    font-family: Avenir;
    color: #4B5563;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 30px;
}

.inputContainer {
    margin-top: 30px;
}

.input{
    margin-top: 8px;
}

.plot {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.navBox {
    display:flex;
    flex-direction: row;
}
